/*.aps
/*.eto
/*.ncb
/*.opensdf
/*.sdf
/*.suo
/*.user
/ClientBin
/GeneratedArtifacts
/[Bb]in
/[Dd]ebug
/[Rr]elease
/_Pvt_Extensions
/_ReSharper.*
/ipch
/obj
/.vs/
/packages/*.*
/bin

/TestResults/*
/AssemblyInfoUtil/[Bb]in/Debug
/AssemblyInfoUtil/[Bb]in/x86/Debug

/AssemblyInfoUtil/[Oo]bj/Debug
/AssemblyInfoUtil/[Oo]bj/x86/Debug

/UnitTestProject/[Bb]in/Debug
/UnitTestProject/[Oo]bj/Debug





/AssemblyInfoUtil/bin/Release
/AssemblyInfoUtil/obj/Release
/UnitTestProject/bin/Release
/UnitTestProject/obj/Release
/GMS.Util.AssemblyInfoUtil.NuGet1/bin/Debug
/GMS.Util.AssemblyInfoUtil.NuGet1/obj/Debug
/GMS.Util.AssemblyInfoUtil.NuGet1/obj/Release
/GMS.Util.AssemblyInfoUtil.NuGet1/bin/Release
