<NuGetPack>
  <AddFrameworkReferences>false</AddFrameworkReferences>
  <IconUrl>http://project.url/favicon.ico</IconUrl>
  <ProjectUrl>http://project.url</ProjectUrl>
  <LicenseUrl>http://project.url/license</LicenseUrl>
  <Authors>Luis de Diego aka GMS</Authors>
  <Owners>Luis de Diego aka GMS</Owners>
  <Copyright>Luis de Diego aka GMS</Copyright>
  <Description>Utility to update automatically the project version</Description>
  <Summary>Utility to update automatically the project version</Summary>
  <Keywords>Major minor build revision AssemblyVersion AssemblyFileVersion AssemblyInformationalVersion</Keywords>
</NuGetPack>